Repository hygraph/rich-text, pull requests merged in 2021-08, with the labels that each got.

#23 Fix AST shape of a parsed copy-pasted image
  .changeset/tasty-seas-reply.md
  packages/html-to-slate-ast/src/index.ts
Labels: bug

#25 feat: add support for embed assets and custom models
  .changeset/short-mice-retire.md
  .changeset/strange-singers-cover.md
  example/content.ts
  example/index.tsx
  package.json
  packages/react-renderer/README.md
  packages/react-renderer/jest.setup.ts
  packages/react-renderer/package.json
  packages/react-renderer/src/RenderText.tsx
  packages/react-renderer/src/RichText.tsx
  packages/react-renderer/src/defaultElements.tsx
  packages/react-renderer/src/elements/Audio.tsx
  packages/react-renderer/src/elements/Image.tsx
  packages/react-renderer/src/elements/index.ts
  packages/react-renderer/src/util/getElements.ts
  packages/react-renderer/test/RichText.test.tsx
  packages/react-renderer/test/__snapshots__/RichText.test.tsx.snap
  packages/react-renderer/test/content.ts
  packages/types/src/index.ts
Labels: enhancement

#30 chore: move react example to a new folder
  .github/CONTRIBUTING.md
  .github/label.yml
  example/yarn.lock
  examples/react/.gitignore
  examples/react/README.md
  examples/react/content.ts
  examples/react/index.html
  examples/react/index.tsx
  examples/react/package.json
  examples/react/tsconfig.json
  package.json
  tsconfig.json
Labels: examples

#29 feat(react): add support for rendering code blocks
  .changeset/angry-moons-share.md
  .changeset/shy-news-confess.md
  examples/react/content.ts
  examples/react/index.tsx
  examples/react/package.json
  package.json
  packages/react-renderer/README.md
  packages/react-renderer/src/defaultElements.tsx
  packages/react-renderer/test/RichText.test.tsx
  packages/types/src/index.ts
Labels: react-renderer

#31 Add a text node to empty children array
  .changeset/lazy-walls-run.md
  packages/html-to-slate-ast/src/index.ts
  packages/html-to-slate-ast/test/google-docs_input.html
  packages/html-to-slate-ast/test/index.test.ts
Labels: html-to-slate-ast
